@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar on mobile for clean look */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
