@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar on mobile for clean look */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom scrollbar for the category sidebar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0; /* light gray */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}



/* scroll category bar*/

/* Add this to your index.css or App.css */
.custom-scrollbar {
  /* Firefox support */
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0 transparent;
}

/* Chrome, Edge, and Safari support */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0; 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

@keyframes shimmer {
  0% { background-position: -1000px 0; }
  100% { background-position: 1000px 0; }
}

.animate-shimmer {
  background: linear-gradient(to right, #f6f7f8 8%, #edeef1 18%, #f6f7f8 33%);
  background-size: 2000px 100%;
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer-text {
  0% { background-position: -200% center; }
  100% { background-position: 200% center; }
}
.animate-text-shimmer {
  background: linear-gradient(90deg, #6b21a8, #a855f7, #6b21a8);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer-text 2s linear infinite;
}